
/*********************Accordion Header********************/

.dashWrap .accordion 
{
    
    padding: 0;
    background: #333;
    height: 40px;
    line-height:40px;
    width: 98%;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgb(169, 169, 169);
    margin: 20px auto 0 auto;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    
}

.dash-table .accContainer
{
    border: none;
}

.dash-table tr:first-child td:first-child > div
{
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.uc-row h2
{
     color: #63b3dd;
    font-size: 35px;
}
.dashWrap .head 
{
    text-align: center;
    margin: 0 auto;
    color: #63b3dd;
    text-decoration: none;
    display: block;
    font-family: myriad pro, helvetica, arial;
    width: 98%;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

.title-uc
{
   display: table;
   width: 100%;
}

.title-uc div
{
   display: table-row;
}

.title-uc .cell
{
   display: table-cell;
    vertical-align: middle;
    
}

.title-uc .cell:first-child
{
   padding-left: 10px;
   width: 5%;
}

.title-uc .cell:last-child
{
   text-align: center;
   padding-right: 30px;
}

.dashWrap header img
{
  position: relative;
  top: -10px;
}

.dashWrap header div
{
    text-align: center;
    width: 100%;
    display: table-cell;
    position: relative;
    top: -10px;
}


.dash-table tr td
{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid gray;
    
}


.dash-table tr:nth-child(1) td:nth-child(2), .dash-table tr:nth-child(2) td:nth-child(1), .dash-table tr:nth-child(3) td
{
    text-align: center;
    
    width: 10%;
}


.dash-table .title
{
  text-align: center;
}

.dash-table
{
   border-spacing: 20px; 
   margin: 0 auto;
   margin: 20px;
}

.dash-table tr:first-child td:first-child
{
/*   overflow-y: scroll;*/
}

/*****************Sub Accordion*******************/

.subAcc
{
    float: right; 
    background: #333;
    height: 35px;
    width: 75%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(169, 169, 169);
    margin: 20px auto 0 auto;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    cursor: pointer;
}

.subAcc div
{
    padding-top: 8px;
    text-align: center;
    height: 30px;
    
}

.dash-table tr:nth-child(1) td:last-child img, .dash-table tr:nth-child(2) td img, .dash-table tr:nth-child(3) td img
{
    width:90%;
}


footer
{
  text-align: center;
  background-color: rgb(14, 121, 191);
  width: 100%;
  height: 50px;
  margin: 100px 0 50px 0;
    
}

footer p
{
  padding-top: 12.5px;
  color: white;
  font-size: 20px;
}
