
.filesHeader div:first-child
{
    text-align: center;
    width: 0px;
    padding-left: 20px;
}

.filesHeader div
{
/*   width: 675px; */
}

.filesTable tbody tr td
{
    text-align: center;
    width: 2%;
    padding: 20px;
}
.filesTable tbody tr
{
    
    margin: 0 auto;
}

.filesTable td img
{
    width: 100px;
}

.button 
{
    background-image: -moz-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
    border: 1px solid #e6e6e6;
    color: gray;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
/*********************************************************************Exhibits Modal****************************************/
.modalDialog 
{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target 
{
    opacity:1;
    pointer-events: auto;
}
.modal-content 
{
    overflow-y: hidden;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid rgb(255, 226, 184);
    width: 50%; /* Could be more or less, depending on screen size */
    height: 500px;
    border-radius: 10px;
    box-shadow: 15px 30px 50px rgba(0, 0, 0,0.7);
}

.mContent
{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-top: 30px;
   
}
.colum
{
    width: 100%;
    height: 200px;
    border: 2px solid gray;
}

.mContent thead tr
{
    font-size: 2em;
    height: 60px;
    margin: 0 auto;
    background-image: -moz-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
}

.mContent thead tr th
{
   
    text-align: center;
    width: 200px;
}

table, .Mtable
{
    border-collapse:collapse;
}
.mContent table tbody tr
{
    border: 2px solid #cccccc;
}

.mContent table tbody tr td
{
    margin: 0 auto;
/*    padding: 20px;*/
    
    text-align: center;
    vertical-align: middle;
/*    border: 2px solid #cccccc;*/
    width: 2%;
    height: 60px;
   
}
.mContent table tbody tr td input
{
    float: left;
    margin: 0;
    padding: 0;
}
.mContent table tbody tr td:nth-child(even) /* All td's containing inputs, chose even to select every 'td' to the right*/
{
    border-right: 2px solid #cccccc;
}

.Mtable tr td input[type=checkbox]
{
    margin-left: 100px;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
}

#sub /***Submit Button or Download Button*************/
{
  
    float: right;
    margin: 20px 25px 0 ;
    padding: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
}


.mclose 
{
    background: #606061;
    float: right;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-top: -20px;
    margin-right: -15px;
}

.mclose:hover 
{
    background: #00d9ff; 
}
/*********************************************************************END Exhibits Modal****************************************/

