.detailsWrap
{
     width: 40% !important;
}
.jobDetail-table
{
    margin: 0 auto;
    display: table;
}

.jobDetail-table .row
{
    display: table-row;
}

.jobDetail-table .cell
{
    display: table-cell;
    width:250px;
    padding: 20px 50px;
}

.reqIcon /* Required Symbol behind Required field (Red Circle)*/
{
    width: 25px; 
}

.jobDetail-table input
{
    padding: 5px 0;
    text-align: center;
    border: 2px solid gray;
}

.loc-body .border
{
    border: 4px solid lightgray;
    border-radius: 15px;
    margin:20px 0; 
}

