@import "Font.css";
@import "menu.css";
/* CSS FILE */

body
{
    padding: 0 0 100px 0;
    margin: 0;
    font-family: 'Swiss 721 Light Condensed BT';
}

#search
{
    text-align: center;
    color: gray;
    width:1200px;
    height: 300px;
    border: 2px solid #ffe2b8;
    border-radius: 15px;
    margin-left: 500px;
    margin-bottom: 50px;
    opacity: 0.5;
}
#search h2
{
   position: relative;
   top: 125px;
}

#wrapper > div h2
{
     font-size: 2em;
     color: #63b3dd;
     margin: 0 200px;
    
     display: inline;
    
}

#title
{
   margin-left: 100px;
     
}


#wrapper 
{
    margin: 50px auto;
    width:1550px;
    padding: 20px 0 20px 0;
  /*Photoshop Background gradient*/
 
  border-radius: 20px;
  background-image: -moz-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
}

h1 
{
    font-size: 50px;
    font-family: helvetica, arial, sans-serif;
    text-shadow: 0px 2px 3px #333;
    color: #0aa0d7;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

h2.accordion 
{
    padding: 0;
    margin: 20px auto 0px auto;
    background: #333;
    height: 60px;
    line-height:60px;
    width: 1500px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgb(169, 169, 169);

  border-radius: 15px;
  background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    
}

h2.accordion a 
{
    text-align: center;
    color: #63b3dd;
    text-decoration: none;
    margin-left: -100px;
    display: block;
    font-family: myriad pro, helvetica, arial;
    
    border-radius: 5px;
}

h2.accordion a h3
{
    display: inline;
    font-size: 1.5em;
     color: #63b3dd;
     margin: 0 200px;
    

}
h2.accordion a:hover 
{
    color: white;
    
    
}

.accContainer 
{
    margin: 0px auto 5px auto;
    padding: 0px;
    overflow: hidden;
    font-size: 1.2em;
    color: #666;
    width: 1475px;
    clear: both;
    background: #f6f6f6;
    border: 2px solid rgb(255, 226, 184);
    border-top: none;
  border-radius: 0 0 10px 10px ;
  background-image: -moz-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
    
}

.accContainer .block 
{
    padding: 20px;
}

