@import "Font.css";
@import "menu.css";
@import "schedules.css";
@import "files.css";
@import "upcoming.css";
@import "jobDetails.css";
@import "calendar.css";
@import "jobList.css";
@import "reports.css";
@import "invoices.css";
@import "profile.css";


/* CSS FILE */

body
{
    
    font-family: 'Swiss 721 Light Condensed BT';
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    overflow-x: hidden;
}

#search
{
    text-align: center;
    color: gray;
    width:50%;
    height: 300px;
    border: 2px solid #ffe2b8;
    border-radius: 15px;
    margin: 0 auto 50px 10%;
   
    opacity: 0.5;
}

#search h2
{
   position: relative;
   top: 125px;
}

#wrapper > div h2
{
     font-size: 2em;
     color: #63b3dd;
     margin: 0;
     display: inline;
}

.header-title h2
{
   margin: 0;
    padding: 0;
}
/***********Accordion Background Wrapper**********/
#wrapper 
{
    margin: 50px auto;
    width:80%;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
}

/***************************************************************************Accordions***************************************************/
/*********************Accordion Header********************/
.accordion 
{
    
    padding: 0;
    background: #333;
    height: 60px;
    line-height:60px;
    width: 98%;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgb(169, 169, 169);
    margin: 20px auto 0 auto;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    
}

.head 
{
    text-align: center;
    margin: 0 auto;
    color: #63b3dd;
    text-decoration: none;
    display: block;
    font-family: myriad pro, helvetica, arial;
    width: 98%;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
}

header
{
    display: table-row;
    
}

header div
{
    text-align: center;
    width: 800px;
    display: table-cell;
  
  
}

.title h2
{
  margin:0;
 
}

/***********Open All Button*********/
#openAll
{
    width: 50px;
}

#openAll:hover
{
    cursor:pointer;
}
/************************END Accordion Header**************************/

/**********************Accordion Content******************************/
.accContainer 
{
  margin: 0px auto 5px auto;
  padding: 0px;
  overflow: hidden;
  font-size: 1.2em;
  color: #666;
  width: 95%;
  clear: both;
  background: #f6f6f6;
  border: 2px solid rgb(255, 226, 184);
  border-top: none;
  border-radius: 0 0 10px 10px ;
  background-image: -moz-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
    
}
/**************Accordion Tables******************/
section
{
    margin: 0 auto;
    display: table;
}

.accTableHeader th
{
    padding: 15px 0 15px 0;
    border-bottom: 2px solid grey;
    border-collapse: collapse;
}

/*************END Accordion Tables************/

/******************Accordion Arrows***************/
.plus
{
    width: 20px;
    height: 15px;
    transform: rotate(-90deg);
    transition: transform 300ms ease-in;
    margin-top: 23px;
}

.minus
{
     transform: rotate(0deg);
}
/*******************End Arrows********************/

/****************************END Accordion Content*****************/
/***************************************************************************END Accordions*******************************************/

/*******************************************************************Modal************************************************************/

/* The Close Button */
.close 
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/***************************************************************************END Modal*****************************************************/


footer
{
  text-align: center;
  background-color: rgb(14, 121, 191);
  width: 100%;
  height: 50px;
  margin: 100px 0 50px 0;
}

footer p
{
  padding-top: 12.5px;
  color: white;
  font-size: 20px;
}

/* Insert Media Query for width size of 1099 */