@import "Font.css";
@import "menu.css";


/* CSS FILE */

body
{
    
    font-family: 'Swiss 721 Light Condensed BT';
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#search
{
    text-align: center;
    color: gray;
    width:50%;
    height: 300px;
    border: 2px solid #ffe2b8;
    border-radius: 15px;
    margin: 0 auto 50px 10%;
   
    opacity: 0.5;
}

#search h2
{
   position: relative;
   top: 125px;
}

#wrapper > div h2
{
     font-size: 2em;
     color: #63b3dd;
     margin: 0;
    
     display: inline;
}


#wrapper 
{
    margin: 50px auto;
    width:80%;
    padding: 20px 0 20px 0;
  
 
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,237,244) 0%, rgb(255,255,255) 100%);
}


h2.accordion 
{
    
    padding: 0;
    background: #333;
    height: 60px;
    line-height:60px;
    width: 98%;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgb(169, 169, 169);
    margin: 20px auto 0 auto;
    border-radius: 15px;
    background-image: -moz-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(241,241,241) 1%, rgb(224,224,224) 100%);
    
}

h2.accordion a 
{
    text-align: center;
    margin: 0 auto;
    color: #63b3dd;
    text-decoration: none;
    display: block;
    font-family: myriad pro, helvetica, arial;
    width: 98%;
    border-radius: 5px;
}

/*h2.accordion a h3
{
    display: inline;
    font-size: 1.5em;
    color: #63b3dd;
    
    padding: 0 150px 0 150px;
}*/


/*h2.accordion a:hover h3
{
    color: white;
}*/


.accContainer 
{
    margin: 0px auto 5px auto;
    padding: 0px;
    overflow: hidden;
    font-size: 1.2em;
    color: #666;
    width: 97%;
    clear: both;
    background: #f6f6f6;
    border: 2px solid rgb(255, 226, 184);
    border-top: none;
  border-radius: 0 0 10px 10px ;
  background-image: -moz-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(253,253,254) 0%, rgb(255,255,255) 100%);
    
}

.accContainer .block 
{
  padding: 20px;
}

/*.block div
{
    
    margin: 0 auto;
    width: 30%;
    height: 200px;
    background: red;
    border: 2px dashed black;
   
}*/

/*  SECTIONS  */
.section 
{
  clear: both;
  padding: 0px;
  margin: 0px;

}

/*  COLUMN SETUP  */
.col 
{
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
   border: 2px dashed gray;
}
.col:first-child 
{ 
  margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after 
  { 
    content:""; 
    display:table; 
  }
.group:after
 { 
  clear:both;
 }
.group 
{ 
  zoom:1; /* For IE 6/7 */
 }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}