
/*
#menu
{
    list-style: none;
    padding: 0px;
    background-color: rgb(14,121,191);
    text-align: center;
}

#menu li
{
   
    display: inline-block;
    margin-right: 0px;
    border-right: 4px solid #005b92;
   
}


#menu li a
{
    display: block;
    padding: 0 30px 0 30px;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Swiss 721 Light Condensed BT';
    font-size: 1.5em;
    line-height: 50px;
}

ul li:hover a
{
     background: #005b92;
    line-height: 40px;
     
}

li:hover ul a
{
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    
}
li:hover ul a:hover
{
    background: #005b92;
   
}

li ul
{
    display: none;
    
  
}

li ul li
{
    display: block;
    float: none;
   
}

li ul li a
{
    min-width: 80px;
    padding: 0 20px;
     
}



ul li a:hover + .hidden, .hidden:hover
{
    display: block;
}

*/

/**********************New menu Items ***************************/
.menuBG
{
    width: 100%;
    height:100px;
    background-color: rgb(14,121,191);
    margin-bottom: 100px;
    padding-left: 1150px;
    
}

#menu
{
    font-family: 'Swiss 721 Light Condensed BT';
    margin: 0;
    margin-top: 100px;
    padding: 0;
    padding-top: 12px; 
    list-style-type: none;
}

#menu li a
{
    text-decoration: none;
    color: white;
    display: block;
}

#menu li
{
    float: left;
    width: 200px;
    height: 75px;
    background-color: rgb(14,121,191);
    line-height: 75px;
    font-size: 30px;
    text-align: center;
    border-right:  4px solid #005b92;
    margin-left: 12px;
    
}

#menu li:first-child
{
    border-left: 4px solid #005b92;;
}

#menu li a:hover
{
    background-color: #005b92;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5);
}

#menu li ul li
{
    float: none;
    margin: 12px 40px 0 -40px;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .25s ease-in,height .25s ease;
}

#menu li ul li a
{
    text-align: center;
    
    padding: 0 20px;
}
#menu li:hover ul li
{
    height: 75px;
    opacity: 1;
    display: block;
     box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5)
}













































