
/*
#menu
{
    list-style: none;
    padding: 0px;
    background-color: rgb(14,121,191);
    text-align: center;
}

#menu li
{
   
    display: inline-block;
    margin-right: 0px;
    border-right: 4px solid #005b92;
   
}


#menu li a
{
    display: block;
    padding: 0 30px 0 30px;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Swiss 721 Light Condensed BT';
    font-size: 1.5em;
    line-height: 50px;
}

ul li:hover a
{
     background: #005b92;
    line-height: 40px;
     
}

li:hover ul a
{
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    
}
li:hover ul a:hover
{
    background: #005b92;
   
}

li ul
{
    display: none;
    
  
}

li ul li
{
    display: block;
    float: none;
   
}

li ul li a
{
    min-width: 80px;
    padding: 0 20px;
     
}



ul li a:hover + .hidden, .hidden:hover
{
    display: block;
}

*/

/** Background and Logo **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Swiss 721 Light Condensed BT';
    text-align: justify;
    line-height: 26px;
}

#logo
{
   
    margin-top: 50px;
    margin-left: 500px;
    width: 500px;
}
/*************************/

nav
{
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}

nav ul
{
    list-style: none;
    overflow: hidden;
}


nav li a
{
    background-color: rgb(14,121,191);
    border-right:  4px solid #005b92;
    color: white;
    display: block;
    float: left;
    font-size: 120%;
    font-weight: 600;
    padding:1%;
    text-align: center;
    text-decoration: none;
    width: 14.25%;
    transition: background 0.5s ease;
}

nav li a:hover, nav li:active a
{
     background-color: #005b92;
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5);*/
}

nav li:first-child
{
    border-left: 4px solid #005b92;;
}

nav li ul li
{
    float: none;
   
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .25s ease-in,height .25s ease;
}

nav li ul li a
{
    text-align: center;
    
    padding: 0 20px;
}
nav li:hover ul li
{
    height: 75px;
    opacity: 1;
    display: block;
     box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5)
}

/*Responsiveness**/
@media screen and (max-width : 1500px )
{

    /*make dropdown links appear inline*/
    #menu
    {
        position: static;
       
    }
    /*Create vertical spacing*/
    #menu li
    {
        margin-bottom: 1px;
    }
    /*make all menu links full width*/
    #menu li, li a
    {
        width: 100%;
    }
}











































