
.profileSection header h2
{
   margin: 0 auto !important;
    
}

.profileTable
{
    margin: 0 auto;
    display: table;
    width: 95%;
   
}

.coBill-body
{
     max-width: 900px;
}
.profileTable .row
{
    display: table-row;
}

.profileTable .cell
{
    display: table-cell;
    width:20%;
    padding: 20px 5px;
}

.profileTable .cell:first-child
{
    font-weight: bold;
}

.coBill-body .border:nth-child(4) .row:last-child input:last-child,
.coBill-body .border:nth-child(5) .row:last-child input:last-child,
.coBill-body .border:nth-child(6) .row:last-child input:last-child
{
   margin-top: 10px; 
}

.profileTable input
{
    padding: 5px 0;
    text-align: center;
    border: 2px solid gray;
}

.profForm
{
    margin: 0 auto;
    width: 100%;
}
.profileTable .border
{
    border: 4px solid lightgray;
    border-radius: 15px;
    margin:20px 0;
}

/*********Company Billing*********/

.coBill-body
{
    width: 60%;
}
/*************Attorneys and Other Peronel**********/

.attorney-body .row .cell, 
.other-body .row .cell
{
    text-align: center;
    font-weight: normal;
    border-bottom: 2px solid gray;
    padding-left: 10px;
    padding-right: 10px;
}

.attorney-body .row:last-child  .cell, 
.other-body .row:last-child .cell
{
    border-bottom: none;
}

.attorney-body .row:nth-child(1) .cell, 
.other-body .row:nth-child(1) .cell
{
    font-weight: bold;
    text-align: center;
    color: #63b3dd;
}

.attorney-body, 
.other-body
{
    width: 100%;
}

.attorney-body .row .cell:nth-child(8), 
.other-body .row .cell:nth-child(7) 
{
    padding-right: 20px;
}
/*************Attorneys***************/
.attorney-body .row .cell:nth-child(5), 
.attorney-body .row .cell:nth-child(6) 
{
    text-align: center;
}

.attorney-body input
{
    width: 20px;
    height: 20px;
}
.openAllProf
{
    margin-left: 15px;
}