/********************All Accordion Tables for Schedules Page**************/
.schedTable
{
   margin:30px auto;
   padding: 0;
   text-align: left;
}

.schedTable td, .schedTable th
{
    padding: 20px 125px;
}

.schedBody input
{
    padding: 5px 0;
    text-align: center;
    border: 2px solid gray;
}

.reqIcon /* Required Symbol behind Required field (Red Circle)*/
{
    width: 25px; 
}
/*******************************/

/*******************************General Information**************/


.general-body tr:nth-child(2) td:nth-child(2) img  /* calendar image icon*/
{
    width: 25px;
    margin-bottom: -8px;
}
.general-body tr:nth-child(4) p /* subtle timing information */
{
    text-align: center;

}


.general-body tr:nth-child(4) td  /* subtle timing information */
{
    padding-top: 0;
    padding-bottom: 0px;
/*    text-align: center;*/
    font-size: 15px;
    font-style: italic;
}


.general-body tr td
{
    padding-right: 100px;
}

.general-body tr:nth-child(5) td 
{
    padding-top: 0px;
}

.general-body tr:nth-child(3) td 
{
    padding-bottom: 0;
}

.general-body input[type=radio]:nth-child(2)
{
    margin-left: 90px;
}

/******************************* Services Ordered  ***********************/


.services-body tr td
{
    padding-right: 100px;
}

.services-body label:nth-child(3)/* Move all The Yes labels and radio buttons to the right */
{
    margin-left: 90px;
}

/***************************Job Location***********************************/

.location-body tr th p
{
    padding: 0px;
    margin:0;
    margin-left: 25px
}

.location-body tr td
{
    padding-right: 0px;
}
.location-body tr th
{
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.location-body tr td label:nth-child(3)
{
    margin-left: 90px;
}


/****************************Deponent Body********************************/
.deponent-body tr td
{
  padding-left: 60px;
    padding-right: 70px;
}

.deponent-body tr td:nth-child(2)
{
    padding-left: 100px;
    padding-right: 20px;
}
.deponent-body tr td:nth-child(1)
{
    padding-left: 20px;
    padding-right: 100px;
}

/********************************Case*************************************/
.case-body tr td img:nth-child(2) /* calendar image icon*/
{
    width: 25px;
    margin-bottom: -8px;
}

.case-body tr td:nth-child(2)
{
    padding-left: 75px;
    padding-right: 110px;
}

.case-body tr td:nth-child(1)
{
    
    padding-right: 200px;
    padding-left: 90px;
    
}

.case-body tr:nth-child(6) td
{
    padding-bottom: 2px;
}

.case-body tr:nth-child(7) td
{
  padding-left: 115px;
  padding-right: 20px;
    padding-top: 0;
}
/**************************Billing***************************************/
.billing-body tr:nth-child(1) td
{
    font-style: italic;
    text-align: center;
    font-size: 15px;
    padding: 0px;
}
.billing-body tr td
{
    padding: 65px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 0px;
}

.billing-body tr td:nth-child(2)
{
    padding-left: 125px;
}


.billing-body tr td:nth-child(1)
{
    padding-left: 25px;
}

.billing-body tr td label:nth-child(3)
{
    margin-left: 90px;
}

.billing-body tr:nth-child(8) td:nth-child(2) img
{
    width: 25px;
    margin-bottom: -8px;
}

/************************Other Services**********************************/
.other-body tr td
{
    padding: 65px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 30px;
    margin: 0px;
}

.other-body tr td:nth-child(1)
{
    padding-right: 125px;
}
.other-body tr td:nth-child(2)
{
    padding-left: 100px;
}

.other-body tr td label:nth-child(3)
{
    margin-left: 90px;
}

/**********************Real Time****************************************/
.real-body tr td
{
    padding: 65px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right:20px;
    margin: 0px;
}

.real-body tr td:nth-child(1)
{
    padding-right: 75px;
}
.real-body tr td:nth-child(2)
{
    padding-left: 175px;
}

.real-body tr td label:nth-child(3)
{
    margin-left: 90px;
}
/**********************************Delivery******************************/
.delivery-body tr:nth-child(1) td
{
    font-style: italic;
    text-align: center;
    font-size: 15px;
    padding: 0px;
}

.delivery-body tr td:nth-child(2)
{
/*
    padding-left: 75px;
    padding-right: 110px;
*/
}

.delivery-body tr td
{
    padding: 20px 30px;
}

.delivery-body tr:nth-child(4) td
{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 200px;
}
.delivery-body tr:nth-child(3) td
{
    padding-bottom: 0;
}

.delivery-body tr td:nth-child(2)
{
    padding-left: 200px;
    padding-right: 0;
}
.delivery-body tr td:nth-child(1)
{
    
    padding-right: 20px;
    
}

.delivery-body tr:nth-child(6) td
{
    padding-bottom: 2px;
}

.delivery-body tr:nth-child(7) td
{
/*
  padding-left: 115px;
  padding-right: 20px;
    padding-top: 0;
*/
}
/**********************File Uploading************************************/
.header-title h2 n
{
   font-size: 15px; 
}

.upload-body tr
{
      border: 2px solid gray;
}
.upload-body tr td
{
    padding:10px 85px;
}

.upload-body tr:nth-child(2) td
{
    padding-bottom: 500px;
}

.upload
{
    margin-left: 470px;
    padding-bottom: 10px;
}
/****************************Schdule By************************************/
.by-body tr td
{
    padding: 100px;
    padding-bottom: 20px;
    padding-top:20px;
}

.by-body tr td:nth-child(2)
{
    padding-left: 150px;
    padding-right: 60px
}

.by-body tr td p
{
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

.schedBy-Buttons
{
    float: right;
    padding-bottom: 20px;
    padding-right:90px;
}

.schedBy-Buttons button
{

  border-radius: 8px;
  border:2px solid rgb(200, 216, 222);
  
  background-image: -moz-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(220,236,243) 0%, rgb(255,255,255) 100%);
 
  width: 100px;
  height: 40px;
 cursor: pointer;
}

.schedBy-Buttons button:last-child
{
     border:2px solid rgb(204, 0, 0);
}
