.scheduleWrap
{
     width: 40% !important;
}
.schedTable
{
    margin: 0 auto;
    display: table;
}

.schedTable .row
{
    display: table-row;
}

.schedTable .cell
{
    display: table-cell;
    width:250px;
    padding: 20px 50px;
}

.reqIcon /* Required Symbol behind Required field (Red Circle)*/
{
    width: 25px; 
}

.schedTable input
{
    padding: 5px 0;
    text-align: center;
    border: 2px solid gray;
}

/* calendar image icon*/
.general-body .row:nth-child(3) .cell:last-child img,
.case-body .row:nth-child(4) .cell:last-child img,
.billing-body .row:nth-child(8) .cell:last-child img
{
    width: 25px;
    margin-bottom: -8px;
}
