/****************Accordion Table Styles**************/

.openAllUpcoming
{
    position: relative;
    top: 40px;
}
.upcomingWrapper .title div
{
 width: 400px;
}

.upcomingWrapper .title
{
    margin: 0 auto;
    width: 98%
}

.filesTable thead tr
{
    padding: 0;
    margin: 0;
}

/************************* Table Border Styles**********/
.upcomingWrapper thead tr th:nth-child(odd)
{
   border: 2px solid #d9d9d9; 
   border-top: none;
}

.upcomingWrapper thead tr th:nth-child(1)/* Address header*/
{
    border-left: none;
}

.upcomingWrapper thead tr th:nth-child(3)/* Notes Header*/
{
    border-right: none;
}

.upcomingWrapper thead tr th:nth-child(2)/* Center Blank Header */
{
  border:none;  
}
.upcomingWrapper tbody tr td /* Bottom Rows */
{
    padding: 0;
}

.upcomingWrapper tbody tr td:nth-child(2) /* bottom Center  td */
{
    border-top:none;
}

.upcomingWrapper tbody tr td:nth-child(2) img
{
   width: 100%; 
}

.upcomingWrapper tbody tr td:nth-child(1) /* bottom left td */
{
   border-right: 2px solid #d9d9d9; 
}

.upcomingWrapper tbody tr td:nth-child(3) /* Bottom right td */
{
   border-left: 2px solid #d9d9d9; 
}
/******************End Table Border Styles*******/

.upcomingWrapper .accordion header div img/* pdf image */
{
    position: relative;
    width: 50px;
    margin: -8px;
    top: 10px;
/*    z-index: 2;*/
}
/*********Modal Activation divs************/
.modalFunc3, .modalFunc2, .modalFunc1
{
  position: absolute;
    width: 40px;
    height: 50px;
    left: 76.70%; 
    z-index: 2;
}

.modalFunc3
{
    top: 710px;
}

.modalFunc2
{ 
    top: 627px;
}

.modalFunc1
{
    top: 545px;
    
}
/*********End Modal Activation divs************/

.upcomingWrapper .accContainer tbody tr td:nth-child(odd)
{
    padding: 15px;
    text-align: left;
}

.upcomingWrapper .accContainer tbody tr:first-child td:nth-child(odd)
{
}

.upcomingWrapper .accContainer tbody tr td:first-child h4
{
    margin-top: -9%;
    text-align: center;
}

.upcomingWrapper .accContainer tbody tr td:first-child
{
  font-size: 100%;
}

/*************************************Modal Styling************************/
.up-modalDialog 
{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.up-modalDialog:target 
{
    opacity:1;
    pointer-events: auto;
}
.up-modalDialog .modal-content 
{
    overflow-y: hidden;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid rgb(255, 226, 184);
    width: 50%; /* Could be more or less, depending on screen size */
    height: 250px;
    border-radius: 10px;
    box-shadow: 15px 30px 50px rgba(0, 0, 0,0.7);
}

.up-modalDialog .mContent
{
    margin: 0 auto;
    width: 100%;
    height: 235px;
    margin-top: 30px;
   
}
.colum
{
    width: 100%;
    height: 200px;
    border: 2px solid gray;
}

.up-modalDialog .mContent thead tr
{
    font-size: 2em;
    height: 60px;
    margin: 0 auto;
    background-image: -moz-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(242,242,242) 47%, rgb(234,234,234) 99%);
}

.up-modalDialog .mContent thead tr th
{
   
    text-align: center;
    width: 200px;
    border-radius: 0 !important;
}

up-modalDialog table, .Mtable
{
    border-collapse:collapse;
}
.up-modalDialog .mContent table tbody tr
{
    border: 2px solid #cccccc;
}

.up-modalDialog .mContent table tbody tr td
{
    margin: 0 auto;
/*    padding: 20px;*/
    
    text-align: center;
    vertical-align: middle;
/*    border: 2px solid #cccccc;*/
    width: 2%;
    height: 60px;
   
}
.up-modalDialog .mContent table tbody tr td input
{
    float: left;
    margin: 0;
    padding: 0;
}
.up-modalDialog .mContent table tbody tr td:nth-child(even) /* All td's containing inputs, chose even to select every 'td' to the right*/
{
    border-right: 2px solid #cccccc;
}

.up-modalDialog. Mtable tr td input[type=checkbox]
{
    margin-left: 100px;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
}

#sub /***Submit Button or Download Button*************/
{
  
    float: right;
    margin: 20px 25px 0 ;
    padding: 0;
    width: 200px;
    height: 50px;
    display: inline-block;
    background: linear-gradient( 180deg, rgb(255,255,255) 5%, rgb(224,224,224) 100%);
    border-style:solid;
    border: 2 px solid lightgray;
    border-radius: 5px;
    cursor: pointer; 
}


.up-modalDialog .mclose 
{
    background: #606061;
    float: right;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-top: -20px;
    margin-right: -15px;
}

.up-modalDialog .mclose:hover 
{
    background: #00d9ff; 
}

.mContent tbody tr td img
{
    width: 50px;
}
