/****************Accordion Table Styles**************/

.openAllUpcoming
{
    position: relative;
    top: 40px;
}
.upcomingWrapper .title div
{
 width: 400px;
}

.upcomingWrapper .title
{
    margin: 0 auto;
    width: 98%
}

.filesTable thead tr
{
    padding: 0;
    margin: 0;
}

/************************* Table Border Styles**********/
.upcomingWrapper thead tr th:nth-child(odd)
{
   border: 2px solid #d9d9d9; 
   border-top: none;
}

.upcomingWrapper thead tr th:nth-child(1)/* Address header*/
{
    border-left: none;
}

.upcomingWrapper thead tr th:nth-child(3)/* Notes Header*/
{
    border-right: none;
}

.upcomingWrapper thead tr th:nth-child(2)/* Center Blank Header */
{
  border:none;  
}
.upcomingWrapper tbody tr td /* Bottom Rows */
{
    padding: 0;
}

.upcomingWrapper tbody tr td:nth-child(2) /* bottom Center  td */
{
    border-top:none;
}

.upcomingWrapper tbody tr td:nth-child(2) img
{
   width: 100%; 
}

.upcomingWrapper tbody tr td:nth-child(1) /* bottom left td */
{
   border-right: 2px solid #d9d9d9; 
}

.upcomingWrapper tbody tr td:nth-child(3) /* Bottom right td */
{
   border-left: 2px solid #d9d9d9; 
}
/******************End Table Border Styles*******/

.upcomingWrapper .accordion header div img/* pdf image */
{
    position: relative;
    width: 50px;
    margin: -8px;
    top: 10px;
/*    z-index: 2;*/
}

/*
.accFunction
{
   width: 86.5%;
    height: 60px;
    position: relative;
    top:-60px;
    left: 20px;
}
*/
